html {
  --bg-primary: #0C0C0D;
  --bg-primary-opacity: 12, 12, 13;
  --bg-secondary: #18181B;
  --font-color: #FFFFFF;

  --font-primary: #FFFFFF;
  --font-secondary: #b3b3b3;
  --font-muted: #66646A;

  --border-primary: #2c282e;
  --border-primary-hover: #66646A;
  --border-muted: #1C1822;
  --font-placeholder: #403D46;

  --app-primary: 22, 22, 22;
  --app-secondary: 28, 28, 28;
  --app-text-primary: #F2F2F2;
  --app-text-muted: #7c7f82;
  --app-border: 40, 40, 40;
}

.lime {
  --accent-color: 16, 185, 129;
  --accent-color-hover: 5, 150, 105;
  --accent-color-faded: rgba(5, 150, 105, 0.1);

  --accent: #10B981; // Just to see the color only the -accent-color use in the app
  --accent-hover: #059669; // Just to see the color only the -accent-color-hover use in the app

  --accent-primary: #FFF878;
  --accent-secondary: #2DFFF5;
}

.cosmos {
    --accent-color: 238, 73, 253;
    --accent-color-hover: 199, 43, 255;
    --accent-color-faded: rgba(199, 43, 255, 0.1);

    --accent: #EE49FD; // Just to see the color only the -accent-color use in the app
    --accent-hover: #C72BFF; // Just to see the color only the -accent-color-hover use in the app

    --accent-primary: #EE49FD;
    --accent-secondary: #5A069B;
}

.ardent {
  --accent-color: 255, 64, 102;
  --accent-color-hover: 255, 64, 102;
  --accent-color-faded: rgba(255, 64, 102, 0.1);

  --accent: #FF4066; // Just to see the color only the -accent-color use in the app
  --accent-hover: #FF4066; // Just to see the color only the -accent-color-hover use in the app

  --accent-primary: #FFF16A;
  --accent-secondary: #FF4066;
}

.nebula {
  --accent-color: 4, 187, 244;
  --accent-color-hover: 4, 187, 244;
  --accent-color-faded: rgba(4, 187, 244, 0.1);

  --accent: #04BBF4; // Just to see the color only the -accent-color use in the app
  --accent-hover: #04BBF4; // Just to see the color only the -accent-color-hover use in the app

  --accent-primary: #04BBF4;
  --accent-secondary: #3E0CAB;
}

.premium {
    --accent-color: 211, 170, 0;
    --accent-color-hover: 211, 170, 0;
    --accent-color-faded: rgba(211, 170, 0, 0.1);

    --accent: #CC8700;
    --accent-hover: #CC8700;

    --accent-primary: #CC8700;
    --accent-secondary: #FFBB36;
}