[data-theme="light-lime"],
[data-theme="light-cosmos"],
[data-theme="light-ardent"],
[data-theme="light-nebula"] {
  --bg-primary: #FFFFFF;
  --bg-primary-opacity: 255, 255, 255;
  --bg-secondary: #FAFAFA;
  --font-color: #05010D;

  --font-primary: #111827;
  --font-muted: #6A7280;
  --font-inverted: #FFFFFF;

  --border-primary: #eae7e7;
  --border-primary-hover: #6A7280;
  --border-muted: #eae7e7;
  --font-placeholder: #403D46;
}

[data-theme="light-lime"] {
  --accent-color: 16, 185, 129;
  --accent-color-hover: 5, 150, 105;
  --accent-color-faded: rgba(5, 150, 105, 0.1);

  --accent: #10B981; // Just to see the color only the -accent-color use in the app
  --accent-hover: #059669; // Just to see the color only the -accent-color-hover use in the app

  --accent-primary: #FFF878;
  --accent-secondary: #2DFFF5;
}

[data-theme="light-cosmos"] {
  --accent-color: 238, 73, 253;
  --accent-color-hover: 199, 43, 255;
  --accent-color-faded: rgba(199, 43, 255, 0.1);

  --accent: #EE49FD; // Just to see the color only the -accent-color use in the app
  --accent-hover: #C72BFF; // Just to see the color only the -accent-color-hover use in the app

  --accent-primary: #EE49FD;
  --accent-secondary: #5A069B;
}

[data-theme="light-ardent"] {
  --accent-color: 255, 64, 102;
  --accent-color-hover: 255, 64, 102;
  --accent-color-faded: rgba(255, 64, 102, 0.1);

  --accent: #FF4066; // Just to see the color only the -accent-color use in the app
  --accent-hover: #FF4066; // Just to see the color only the -accent-color-hover use in the app

  --accent-primary: #FFF16A;
  --accent-secondary: #FF4066;
}

[data-theme="light-nebula"] {
  --accent-color: 4, 187, 244;
  --accent-color-hover: 4, 187, 244;
  --accent-color-faded: rgba(4, 187, 244, 0.1);

  --accent: #04BBF4; // Just to see the color only the -accent-color use in the app
  --accent-hover: #04BBF4; // Just to see the color only the -accent-color-hover use in the app

  --accent-primary: #04BBF4;
  --accent-secondary: #3E0CAB;
}